/* Bubble chart specific styles */
.bubble {
    stroke: #504d4d;
    opacity: 1.8;
    transition: opacity 0.5s;
  }
  
  .bubble.highlighted {
    stroke-width: 2px;
    opacity: 1;
  }
  
  .bubble.selected {
    stroke-width: 2px;
    opacity: 1;
  }
  
  .bubble.dimmed {
    opacity: 0.3;
  }
  
  .full-width {
    margin-top: 2rem;
  }
  
